<section class="footer-section">
    <div class="container">

        <div class="mr-tp-10 row justify-content-between footer-area-under">
            <div class="col-md-8">
                <a href="#"><img class="footer-logo-blue" src="img/header/logo-w.png" alt="" /></a>
                <div class="footer-social-icons">
                    <a href="https://www.facebook.com/mapala.balwana/" target=”_blank”><i class="fab fa-facebook-f"></i></a>
                    <a href="https://api.whatsapp.com/send/?phone=6285606986486&text&app_absent=0" target=”_blank”><i class="fab fa-whatsapp"></i></a>
                    <a href="https://www.instagram.com/mapalabalwana/" target=”_blank”><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCYtZAz-3ZYmvX1eJmlzppTQ" target=”_blank”><i class="fab fa-youtube"></i></a>
                    <!-- <a href="#"><i class="fab fa-dribbble"></i></a> -->
                    <!-- <a href="#"><i class="fab fa-google"></i></a> -->
                </div>
            </div>
            <div class="col-md-4 row">
                <ul class="col-md-6 under-footer-ullist">
                    <li><a href="about.html">about us</a></li>
                    <li><a href="contact.html">contact</a></li>
                </ul>
                <ul class="col-md-6 under-footer-ullist text-right">
                    <li><a href="privacy.html">privacy policy</a></li>
                    <li><a href="tos.html">terms of services</a></li>
                </ul>
            </div>
               </div>
            <!-- </div> -->
            <!-- <div class="col-md-3">
                <h5 class="quiq-links-footer-title">secure and contact</h5>

                <div class="footer-contact-method">
                    <a href="#">
                        <span>email us :</span>
                        <b>support@coodiv.net</b>
                        <i class="fas fa-at"></i>
                    </a>

                    <a href="#">
                        <span>whatsapp :</span>
                        <b>00123 45 67 89 91</b>
                        <i class="fas fa-phone"></i>
                    </a>
                </div>
            </div>
        </div> -->

           <!--  <div class="row justify-content-between final-footer-area mr-tp-40">
                <div class="final-footer-area-text">
                    © Copyright 2021 mapala balwana
                </div>
            </div> -->
        </div>
    </div>
</section>

<!-- jquery -->
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<!-- bootstrap JavaScript -->
<script src="js/bootstrap.min.js"></script>
<!-- template JavaScript -->
<script src="js/template-scripts.js"></script>
<!-- flickity JavaScript -->
<script src="js/flickity.pkgd.min.js"></script>
<!-- carousel JavaScript -->
<script src="owlcarousel/owl.carousel.min.js"></script>
<!-- parallax JavaScript -->
<script src="js/parallax.min.js"></script>
<!-- mailchamp JavaScript -->
<script src="js/mailchamp.js"></script>
<!-- bootstrap offcanvas -->
<script src="js/bootstrap.offcanvas.min.js"></script>
<!-- touchSwipe JavaScript -->
<script src="js/jquery.touchSwipe.min.js"></script>
<!-- seconde style additionel JavaScript -->
<script src="js/particles-code.js"></script>
<script src="js/particles.js"></script>
<script src="js/smoothscroll.js"></script>
</body>

</html>