<%- include('partials/header.ejs') %> <%- include('partials/navbar.ejs') %>

<section>
  <div class="container">
    <div class="row justify-content-start futures-version-2">
      <div class="col-md-4">
        <div class="futures-version-2-box">
          <img src="img/svgs/konservasi.svg" alt="#" height="100" width="100" />
          <br />
          <br />
          <h5>Divisi Konservasi</h5>
          <p>
            Melakukan kegiatan alam bebas yang berhubungan dengan pengelolaan
            sumber daya alam hayati dengan tujuan untuk riset dan penelitian
            guna menjaga dan melestarikan alam
          </p>
          <div class="text-right">
            <a class="more-btn" href="#">selengkapnya</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="futures-version-2-box">
          <!-- <span class="free-badge"><b></b>free</span> -->
          <img
            src="img/svgs/gununghutan.svg"
            alt="#"
            height="100"
            width="100"
          />
          <!-- <i class="fas fa-mountain"></i> -->
          <br />
          <br />
          <h5>Divisi Gunung Hutan</h5>
          <p>
            Melakukan kegiatan alam bebas yang berhubungan dengan pelatihan
            pendakian dan ekspedisi hutan dengan tujuan riset dan penelitian
            sekaligus sebagai bekal dalam kegiatan kemasyarakatan, adat, dan
            tradisi
          </p>
          <div class="text-right">
            <a class="more-btn" href="#">selengkapnya</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="futures-version-2-box">
          <img
            src="img/svgs/rockclimbing.svg"
            alt="#"
            height="100"
            width="100"
          />
          <br />
          <br />
          <h5>Divisi Rock Climbing</h5>
          <p>
            Melakukan kegiatan alam bebas yang berhubungan dengan jalur tebing
            dengan tujuan olahraga dan tambahan skill pendakian ketika di medan
            yang sulit didaki(tebing, batuan)
          </p>
          <div class="text-right">
            <a class="more-btn" href="#">selengkapnya</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-wth-amwaj">
  <div class="bg_overlay_section-amwaj">
    <img src="img/bg/b_bg_02.jpg" alt="img-bg" />
  </div>

  <div class="container">
    <div class="row justify-content-between mr-tp-50">
      <div class="col-md-6 side-text-right-container">
        <h2 class="side-text-right-title">
          Sederap Satu Asa ,<br />
          Balwana!
        </h2>
        <p class="side-text-right-text">
          Balwana merupakan salah satu organisasi pecinta alam di kabupaten
          Jember yang bersekretariat di Fakultas Ilmu Komputer Universitas
          Jember. Berselaras dengan visi misi Fasilkom, balwana bertujuan untuk
          menjadi sebuah organisasi pecinta alam yang bersinergi dengan
          teknologi dengan ideologi-ideologi bahwa dengan teknologi. kita bisa
          membantu melestarikan alam dan menyebarkan pengetahuan tentang
          pentingnya alam kepada masyarakat dengan jangkuan luas dan tidak
          terbatas. <br />
          Dengan slogan "Sederap Satu Asa, Balwana!", kami melaksanakan visi
          misi dengan menyatukan asa. Kalian yang merasa memiliki asa yang sama
          dengan kami, mari bergabung bersama Balwana untuk mahasiswa Fasilkom
          Universitas Jember, dan mari kita satukan asa kita dengan bentuk
          kerjasama untuk instansi terkait.
        </p>

        <p>
          <a class="side-text-right-button" href="link.html"
            >Penasaran dengan kami?</a
          >
        </p>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>

<%- include('partials/footer.ejs') %>
